# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/

# OS / editors
.DS_Store
.vscode/
.idea/

# Datasets
data/